pkgbase = radeon-dev-tool-suite
	pkgdesc = A simple, convenient package including all the Radeon™ developer tools in one place.
	pkgver = 200331.696
	pkgrel = 1
	url = https://gpuopen.com/tools/
	arch = x86_64
	groups = amd-dev
	license = custom
	depends = xf86-video-amdgpu
	optdepends = opencl-amd
	source = https://gpuopen.com/download/radeon-developer-tool-suite/RadeonDeveloperToolSuite-2021-03-31-696.tgz
	md5sums = 9063155f469a8d1f592760796671acbc

pkgname = radeon-dev-tool-suite

