[Desktop Entry]
Name=Radeon Developer Panel
GenericName=Profiler
Comment=Generates visualitazions of how your DirectX12, Vulkan and OpenCL applications interact with the GPU.
MimeType=text/english;text/plain;
Exec=/opt/radeon-dev-tools-profiler/RadeonDeveloperPanel
Icon=amd
Type=Application
Terminal=false
Categories=Development;
Keywords=Profiler;GPU;
