pkgbase = radeon-gpu-profiler-bin
	pkgdesc = Generates visualitazions of how your DirectX12, Vulkan and OpenCL applications interact with the GPU.
	pkgver = 1.7.0.29
	pkgrel = 1
	url = https://github.com/GPUOpen-Tools/Radeon-GPUProfiler
	arch = x86_64
	groups = amd-dev
	license = custom
	depends = xf86-video-amdgpu
	optdepends = opencl-amd
	noextract = radeon-gpu-profiler.desktop
	source = https://github.com/GPUOpen-Tools/Radeon-GPUProfiler/releases/download/v1.7/RadeonGPUProfiler_1.7.0.29.tgz
	source = radeon-gpu-profiler.desktop
	source = radeon-dev-panel.desktop
	sha256sums = d7d4aa92231796a509dfcf92e9618cac98ae6572c12efd0871eb43afa4e8240a
	sha256sums = 1cc24a076b299f5fcd634ab8123d3b05c7a657fde1472a918b3d992fbb2e44ba
	sha256sums = 0dbfd3dad9eff899fadf38c5a525d6eb45587951a4271e958d05fd15a5e1dab9

pkgname = radeon-gpu-profiler-bin

